<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-img style="width: 500px; height: 500px;" src="../../assets/cookbook.jpeg"></ion-img>

<p>There are few things more comforting than gathering for a meal with the ones you love, especially when dishes like Cheesy Chicken Enchiladas are at the center of the table.</p>
<p>Old-fashioned crowd pleasers like Roasted Sausages, Peppers, and Onions are even more delicious and streamlined for quick cleanup. For dessert? You'll find the best Boston Cream Pie,</p>
<p>Banana Rum Trifle, and Black and White Cookies you’ll ever make. Home cooks can always count on Ina’s dependable, easy-to-follow instructions, with lots of side notes for cooking </p>
<p>and entertaining—it’s like having Ina right there beside you, helping you all the way.</p>

<p>From cocktails to dessert, from special weekend breakfasts to quick weeknight dinners, you’ll find yourself making these cozy and delicious recipes over and over again.
</p>
<p> If you would like to buy a printed copy please visit </p> 

<p>"https://sugar-mommas-llc.square.site/product/bruckerhoff-family-cookbook/1131"</p>
<ion-footer>
  <ion-toolbar>
    <ion-title>Nick Hutson Cookbook APP</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-content>