<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">


    <ion-toolbar>
      <ion-title size="large">Recipe</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-content fullscreen>
       
    <ion-card>
      <ion-img style="width: 500px; height: 500px;" src="../../assets/mac.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Baked Mac & Cheese</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Ingredients</h3>
        <ul>
          <li>3 tablespoons uncooked macaroni pasta</li>
            <li>1 tablespoon butter</li>
              <li>1 tablespoon all-purpose flour</li> 
                <li>¼ teaspoon salt</li>
                  <li>1 pinch pepper</li>
                    <li>⅛ teaspoon onion powder</li>
                      <li>½ cup milk</li>
                        <li>⅓ cup shredded Cheddar cheese</li>
                          <li>⅛ teaspoon ground mustard</li>
                            <li>1 dash Worcestershire sauce</li>
                              <li>1 dash hot sauce</li>
                                <li>1 teaspoon bread crumbs</li>
                                  <li>1 tablespoon shredded Cheddar cheese</li>
        </ul>
        <ion-item>
          <ion-label class="ion-text-wrap">
            30 Mins
          </ion-label>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Feeds 2
          </ion-label>
          <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            400 Degrees F
          </ion-label>
          <ion-icon name="thermometer-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        
        <ion-list>
          <h1 class="ion-text-uppercase">
            Directions
          </h1>
          <h3>Step 1</h3>
           <p>Preheat an oven to 400 degrees F (200 degrees C). Grease an oven-proof soup crock or 1 cup baking dish.</p>
           <h3>Step 2</h3>
           <p>Fill a small saucepan with water, and bring to a boil. Stir in the macaroni; boil until cooked but still firm to the bite, about 8 minutes. Drain well, and reserve.</p>
           <h3>Step 3</h3>
           <p>In the same saucepan, melt the butter over medium-high heat. Stir in the flour, salt, pepper, onion powder, and milk; whisk until smooth. Cook, stirring, for 2 minutes. Reduce heat to low, and whisk in 1/3 cup cheese, mustard, Worcestershire sauce, and hot sauce. Stir in the cooked macaroni. Spoon the macaroni and cheese into the prepared dish. Sprinkle with bread crumbs and 1 tablespoon cheddar cheese.</p>
           <h3>Step 4</h3>
           <p>Bake, uncovered, until the cheese is melted and the macaroni is heated through, about 10 minutes.</p>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img style="width: 500px; height: 500px;" src="../../assets/pizza.jfif"></ion-img>
      <ion-card-header>
        <ion-card-title>Pepperoni Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Ingredients</h3>
        <h4>Sauce Ingredients</h4>
        <ul>
          <li>Tomato Paste 12 oz can</li>
            <li>1 teaspoon dried oregano, crushed</li>
              <li>1 teaspoon dried basil, crushed</li> 
                <li>¼ teaspoon salt</li>
                  <li>½ teaspoon garlic powder</li>
                    <li>½ teaspoon onion powder</li>
                      <li>½ teaspoon sugar</li>
                        <li>¼ teaspoon pepper</li>
                </ul>
        <h4>Pizza Ingredients</h4>
        <ul>
          <li>3¼ cups all purpose flour </li>
            <li>2 (.25oz) envelopes dry active yeast</li>
              <li>1 tablespoon sugar</li>
              <li> 1¼ teaspoon salt</li>
              <li> 1¼ cups warm water</li>
              <li>¼ cup oil</li>
        </ul>
        <h4>Toppings</h4>
        <ul>
          <li>1 (6 oz) package Pepperoni</li>
          <li> 1 cup shredded Mozzarella cheese, or more</li>
        </ul>
        <ion-item>
          <ion-label class="ion-text-wrap">
            1 hour
          </ion-label>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Feeds 6
          </ion-label>
          <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            425 Degrees F
          </ion-label>
          <ion-icon name="thermometer-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        
        <ion-list>
          <h1 class="ion-text-uppercase">
            Directions
          </h1>
          <h3>Step 1</h3>
           <p>For sauce: Combine all sauce ingredients with 1/2 cup water in a medium bowl; set aside for flavors to develop while making crust. Freeze remaining paste .</p>
           <h3>Step 2</h3>
           <p>For crusts: Combine 2 cups of flour with the dry yeast, sugar and salt. Add the water and oil and mix until well blended (about 1 minute). Gradually add enough remaining flour slowly, until a soft, sticky dough ball is formed.</p>
           <h3>Step 3</h3>
           <p>Knead for about 4 minutes, on a floured surface, until dough is smooth and elastic. Add more flour, if needed. (If using RapidRise® Yeast, let dough rest, covered, for 10 minutes.)</p>
           <h3>Step 4</h3>
           <p>Divide dough in half. Pat each half (with floured hands) into a 12-inch greased pizza pan OR roll dough to fit pans.</p>
           <h3> Step 5</h3>
           <p>For pizzas: Preheat oven to 425 degrees F. Top crusts with sauce, pepperoni and cheese.</p>
           <h3>Step 6</h3>
           <p>Bake for 18 to 20 minutes until crusts are browned and cheese is bubbly. For best results, rotate pizza pans between top and bottom oven racks halfway through baking.</p>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img style="width: 500px; height: 500px;" src="../../assets/whiterussian.jfif"></ion-img>
      <ion-card-header>
        <ion-card-title>Classic White Russian</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Ingredients</h3>
        <ul>
              <li>½ cup milk</li>
              <li>1 fluid oz vodka</li>
              <li>1 fluid oz Coffee flavored liqueur</li>
        </ul>
        <ion-item>
          <ion-label class="ion-text-wrap">
            2 Mins
          </ion-label>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Serving Size 1
          </ion-label>
          <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
        </ion-item>
                
        <ion-list>
          <h1 class="ion-text-uppercase">
            Directions
          </h1>
          <h3>Step 1</h3>
          <p>In a mixing glass, combine the coffee flavored liqueur, vodka and cream or milk. Pour over ice in a highball glass.</p>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img style="width: 500px; height: 500px;" src="../../assets/waffles.jfif"></ion-img>
      <ion-card-header>
        <ion-card-title>Fluffy Waffles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Ingredients</h3>
        <ul>
        <li>2 cups all-purpose flour </li>        
        <li>1 teaspoon salt</li>
        <li>4 teaspoons baking powder</li>
        <li>2 tablespoons white sugar</li>
        <li>2 eggs</li>
        <li>½ cups warm milk</li>
        <li>⅓ cup butter, melted</li>
        <li>1 teaspoon vanilla extract</li>
        </ul>
        <ion-item>
          <ion-label class="ion-text-wrap">
            25 Mins
          </ion-label>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Yields 10 to 12 waffles
          </ion-label>
          <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Medium-High Heat
          </ion-label>
          <ion-icon name="thermometer-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        
        <ion-list>
          <h1 class="ion-text-uppercase">
            Directions
          </h1>
          <h3>Step 1</h3>
          <p>In a large bowl, mix together flour, salt, baking powder and sugar; set aside. Preheat waffle iron to desired temperature.</p>
          <h3>Step 2</h3>
          <p>In a separate bowl, beat the eggs. Stir in the milk, butter and vanilla. Pour the milk mixture into the flour mixture; beat until blended.</p>
           <h3>Step 3</h3>
           <p>Ladle the batter into a preheated waffle iron. Cook the waffles until golden and crisp. Serve immediately.</p>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img style="width: 500px; height: 500px;" src="../../assets/cake.jfif"></ion-img>
      <ion-card-header>
        <ion-card-title>Chocolate Cake</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Ingredients</h3>
        <ul>
  <li>2 cups white sugar</li>
  <li>1 ¾ cups all-purpose flour</li>
  <li>¾ cup unsweetened cocoa powder</li>
  <li>1 ½ teaspoons baking powder</li>
  <li>1 ½ teaspoons baking soda</li>
  <li>1 teaspoon salt</li>
  <li>2 eggs</li>
  <li>1 cup milk</li>  
  <li>½ cup vegetable oil</li>
  <li>2 teaspoons vanilla extract</li>
  <li>1 cup boiling water</li>
        </ul>
        <ion-item>
          <ion-label class="ion-text-wrap">
            60 Mins
          </ion-label>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Yeilds 2 - 9 inch round cake layers
          </ion-label>
          <ion-icon name="people-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            350 Degrees F
          </ion-label>
          <ion-icon name="thermometer-outline" size="large" slot="start"></ion-icon>
        </ion-item>
        
        <ion-list>
          <h1 class="ion-text-uppercase">
            Directions
          </h1>
          <h3>Step 1</h3>
          <p>Preheat oven to 350 degrees F (175 degrees C). Grease and flour two nine inch round pans.</p>
           <h3>Step 2</h3>
           <p>In a large bowl, stir together the sugar, flour, cocoa, baking powder, baking soda and salt. Add the eggs, milk, oil and vanilla, mix for 2 minutes on medium speed of mixer. Stir in the boiling water last. Batter will be thin. Pour evenly into the prepared pans.</p>
           <h3>Step 3</h3>
           <p>Bake 30 to 35 minutes in the preheated oven, until the cake tests done with a toothpick. Cool in the pans for 10 minutes, then remove to a wire rack to cool completely.</p>
           
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-content></ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-title>Nick Hutson Cookbook APP</ion-title>
  </ion-toolbar>
</ion-footer>
  </ion-content>
