<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

<p>
  <li><ion-icon name="people-outline"></ion-icon>  Nick Hutson</li>
  <li><ion-icon name="mail-outline"></ion-icon> nhutson1@live.maryville.edu</li>
  <li><ion-icon name="information-outline"></ion-icon>  Nick Hutson Cookbook APP</li>
  </p>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Nick Hutson Cookbook APP</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
